@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-fundo: #00030c;
    --cor-principal-texto: #ffffff;
    --cor-secundaria-texto: #C0C0C0;
    --cor-destaque: #167bf7;

    --fonte: 'Inter', sans-serif;;

    --tamanho-fonte-titulo1: 1.75rem;
    --tamanho-fonte-titulo2: 3rem;
    --tamanho-fonte-conteudo: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal-texto);
}

main {
    font-family: var(--fonte);
}

.fundo {
    background-image: url(./img/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16% 11%;
    width: 77%;
}

.container1__titulo {
    font-size: var(--tamanho-fonte-titulo1);
    font-family: var(--tamanho-fonte-titulo);
    text-align: center;
    margin-bottom: 4%;
}

.container1__img_combo {
    width: 60,5%;
    margin-bottom: 9%;
}

.container1__botoes {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5%;
}

.container1__botoes__botao {
    display: flex;
    justify-content: center;
    font-size: var(--tamanho-fonte-conteudo);
    text-decoration: none;
    color: var(--cor-principal-texto);
    background-color: var(--cor-destaque);
    padding: 7.5%;
    width: 230.5%;
    border-radius: 8px;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal-texto);
}

.container1__aviso {
    font-size: 0.75rem;
    color: var(--cor-secundaria-texto);
    text-align: center;
}

.container2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 0 11%;
}

.container2__conteudo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 6%;
}

.container2__conteudo__titulo {
    font-size: var(--tamanho-fonte-titulo2);
}

.container2__conteudo__frase {
    font-size: var(--tamanho-fonte-conteudo);
    color: var(--cor-secundaria-texto);
    line-height: 155%;
}

.container3 {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 0 11%;
    gap: 0 3%;
}

.container3__conteudo {
    font-size: var(--tamanho-fonte-conteudo);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 53%;
    line-height: 155%;
}

.container3__conteudo__frase {
    color: var(--cor-secundaria-texto);
}

.botao_menor {
    width: 28%;
    padding: 2.5% 0;
}

.container3__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4 {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 0 11%;
}

.container4__conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    gap: 0.5rem;
}

.container4__conteudo__titulo {
    font-size: var(--tamanho-fonte-titulo2);
}

.container4__conteudo__frase {
    font-size: var(--tamanho-fonte-conteudo);
    color: var(--cor-secundaria-texto);
    line-height: 155%;
}

.container5 {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8.5%;
    margin-bottom: 2.05%;
}

.container5__titulo {
    font-size: var(--tamanho-fonte-titulo2);
    display: flex;
    justify-content: center;
    text-align: center;
}

.container5__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0 4.7%;
    font-size: var(--tamanho-fonte-titulo1);
    width: 100%;
}

.container5__lista__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.container_footer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_footer__img {
    width: 7%;
    margin-bottom: 2.7%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--fonte);
    text-align: center;
}

.container_footer__lista {
    font-size: 1rem;
    color: var(--cor-secundaria-texto);
    display: flex;
    gap: 1rem;
    max-width: auto;
}

.footer__conteudo {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.875rem;
    color: var(--cor-secundaria-texto);
    width: 80%;
    line-height: 180%;
}